#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
p {
  font-size: 0.8em;
  color: #d2d2d2;
}
ion-slides {
  height: 100%;
}
ion-slide {
  display: block;
}
ion-label,
.select-text {
  margin-left: 10px;
}
.invalid {
  border: 1px solid #ea6153;
}
.label-stacked.sc-ion-label-md-h, .label-floating.sc-ion-label-md-h {
  margin: 8px
}
.item-label-stacked.sc-ion-input-md-h, .item-label-stacked .sc-ion-input-md-h, .item-label-floating.sc-ion-input-md-h, .item-label-floating .sc-ion-input-md-h{
  margin:8px;
  border: 1px solid black;
}
.sc-ion-input-md-h{
  width:70%;
}
:host(.item-interactive.ion-invalid){
 --highlight-background: var(--highlight-color-invalid);
 
}